<div class="book-wrapper">
  <div class="book" *ngFor="let book of books | paginate: { itemsPerPage: 3, currentPage: p }">
    <img class="book-cover" src="{{ book.cover }}" alt="{{ book.title}}">
    <div class="book-information">
      <h3 class="book-title"><a routerLink='/books-detail' (click)="setBook(book)">{{ book.title }}</a></h3>
      <span class="book-description">{{ book.description }}</span>
      <span class="book-author"><span>Book written by:</span> {{ book.author }}</span>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
