<div class="book-page">
  <div class="book">
    <img class="book-cover" src="{{ book.cover }}" alt="{{ book.title}}">
    <div class="book-information">
      <h3 class="book-title">{{ book.title }}</h3>
      <span class="book-description">{{ book.description }}</span>
      <span class="book-author"><span>Book written by:</span> {{ book.author }}</span>
    </div>

    <div class="book-editing">
      <button [routerLink]="['/']" (click)="deleteBook(book)" type="button">delete</button>
    </div>
  </div>
</div>