
@import 'minireset.min.css';

:root {
  --system-font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --system-font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font: 1.4rem var(--system-font-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--system-font-serif);
  font-style: italic;
}

h2,
h3 {
  font-size: 1.75em;
}

button {
  background-color: #f7de47;
  border: 0;
  border-radius: 15px;
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
}

button:hover,
button:focus {
  cursor: pointer;
  transform: scale(.9);
}

label {
  font-size: 1.1rem;
  text-transform: uppercase;
}

input {
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 2px 0;
}

fieldset {
  border: 0;
}

/* WRAPPER & GRID */

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* SIDEBAR */

.sidebar {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
  row-gap: 30px;
  width: 25%;
}

/* BOOK-LIST & BOOK-PAGE */

.book-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 15px;
  width: 75%;
}

.book-wrapper {
  flex: 1;
}

.book {
  display: flex;
  column-gap: 15px;
  width: 100%;
}

.book-loop,
.book-page {
  column-gap: 15px;
  display: flex;
  row-gap: 15px;
}

.book-page .book {
  justify-content: center;
}

.book-cover {
  height: 160px;
  width: 100px;
}

.book-information {
  display: flex;
  flex-direction: column;
}

.book-author span {
  text-decoration: underline;
}

/* BOOK-EDITING-BLOCK */

.book-editing-block {
  height: 0px;
  overflow: hidden;
  transition: height .25s ease-in-out;
}

.book-editing-block.show {
  height: 100%;
}

.book-editing-block fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* BOOK-FORM */

.book-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.book-form form {
  display: flex;
  flex-direction: column;
}

.book-form fieldset {
  column-gap: 15px;
  display: flex;
  padding: 10px;
}

/* NGX-PAGINATION */

.book-pagination {
  margin-top: 30px;
}

.book-pagination .ngx-pagination a,
.book-pagination .ngx-pagination .current {
  border-radius: 10px;
}

.book-pagination .ngx-pagination .current {
  color: #000000;
  background-color: #f7de47;
  font-weight: bold;
}